:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --grisclaro: #DFE9F3;
    --fondoCaja: #ecf3f3;
    --grisclaro2: #9a9e9e;

}


.itemCart img{
    width: 125px;
    border-radius: 5px;
}

.itemCart div p span{
    font-weight: bold;
}

.totalCart{
    font-weight: bold;
    font-size: 20px;
}

.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border: none;
    background: none;
   }
   
   .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: var(--gris);
    width: 45px;
    height: 45px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
   }
   
   .cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #a1c4e7;
   }
   
   .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    -webkit-transform: translateX(-5px);
        -ms-transform: translateX(-5px);
            transform: translateX(-5px);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
   }
   
   .cta:hover:before {
    width: 100%;
    background: var(--gris);
   }
   
   .cta:hover svg {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
   }
   
   .cta:active {
    -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
            transform: scale(0.95);
   }

    .botonAccion{
        padding: 3px 5px;
        border-radius: 5px;
        background-color:#0a58ca;
        color:white
    }